<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<<<<<<< HEAD
<td>com.cucumber.framework.runner.AppBuilderRunner</td>
=======
<<<<<<< HEAD
<td>com.cucumber.framework.runner.AdvancedSearchRunner</td>
=======
<td>com.cucumber.framework.runner.AllModulesRunner</td>
>>>>>>> ca2a40c407feb616742971c5baf2a27ca8786ef2
>>>>>>> ecef320e77be6cfb9665d466fb7887b54ea85c19
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>feature</td>
<td>cucumber </td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>setUpClass</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>tearDownClass</td>
<td>&nbsp;</td></tr>
</table>
