<h2>Groups used for this test run</h2><table border="1">
<<<<<<< HEAD
<tr> <td align="center"><b>Group name</b></td><td align="center"><b>Methods</b></td></tr><tr><td>cucumber</td><td>AbstractTestNGCucumberTests.feature(cucumber.api.testng.CucumberFeatureWrapper)[pri:0, instance:com.cucumber.framework.runner.AppBuilderRunner@55f3ddb1]<br/></td></tr>
=======
<<<<<<< HEAD
<tr> <td align="center"><b>Group name</b></td><td align="center"><b>Methods</b></td></tr><tr><td>cucumber</td><td>AbstractTestNGCucumberTests.feature(cucumber.api.testng.CucumberFeatureWrapper)[pri:0, instance:com.cucumber.framework.runner.AdvancedSearchRunner@64729b1e]<br/></td></tr>
=======
<tr> <td align="center"><b>Group name</b></td><td align="center"><b>Methods</b></td></tr><tr><td>cucumber</td><td>AbstractTestNGCucumberTests.feature(cucumber.api.testng.CucumberFeatureWrapper)[pri:0, instance:com.cucumber.framework.runner.AllModulesRunner@131276c2]<br/></td></tr>
>>>>>>> ca2a40c407feb616742971c5baf2a27ca8786ef2
>>>>>>> ecef320e77be6cfb9665d466fb7887b54ea85c19
</table>
