<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<<<<<<< HEAD
<tr bgcolor="dc63ce">  <td>19/08/01 21:33:46</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;AbstractTestNGCucumberTests.setUpClass()[pri:0, instance:com.cucumber.framework.runner.AppBuilderRunner@55f3ddb1]">&gt;&gt;setUpClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1926764753</td>   <td></td> </tr>
<tr bgcolor="dc63ce">  <td>19/08/01 21:33:48</td>   <td>1234</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AbstractTestNGCucumberTests.feature(cucumber.api.testng.CucumberFeatureWrapper)[pri:0, instance:com.cucumber.framework.runner.AppBuilderRunner@55f3ddb1]">feature</td> 
  <td>main@1926764753</td>   <td></td> </tr>
<tr bgcolor="dc63ce">  <td>19/08/01 21:51:20</td>   <td>1053451</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AbstractTestNGCucumberTests.tearDownClass()[pri:0, instance:com.cucumber.framework.runner.AppBuilderRunner@55f3ddb1]">&lt;&lt;tearDownClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1926764753</td>   <td></td> </tr>
=======
<<<<<<< HEAD
<tr bgcolor="9b7070">  <td>19/08/01 20:03:51</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;AbstractTestNGCucumberTests.setUpClass()[pri:0, instance:com.cucumber.framework.runner.AdvancedSearchRunner@64729b1e]">&gt;&gt;setUpClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1538399081</td>   <td></td> </tr>
<tr bgcolor="9b7070">  <td>19/08/01 20:03:52</td>   <td>1590</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AbstractTestNGCucumberTests.feature(cucumber.api.testng.CucumberFeatureWrapper)[pri:0, instance:com.cucumber.framework.runner.AdvancedSearchRunner@64729b1e]">feature</td> 
  <td>main@1538399081</td>   <td></td> </tr>
<tr bgcolor="9b7070">  <td>19/08/01 20:04:42</td>   <td>51479</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AbstractTestNGCucumberTests.tearDownClass()[pri:0, instance:com.cucumber.framework.runner.AdvancedSearchRunner@64729b1e]">&lt;&lt;tearDownClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1538399081</td>   <td></td> </tr>
=======
<tr bgcolor="7bafac">  <td>19/07/23 18:49:58</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;AbstractTestNGCucumberTests.setUpClass()[pri:0, instance:com.cucumber.framework.runner.AllModulesRunner@131276c2]">&gt;&gt;setUpClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@936580213</td>   <td></td> </tr>
<tr bgcolor="7bafac">  <td>19/07/23 18:49:59</td>   <td>1064</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AbstractTestNGCucumberTests.feature(cucumber.api.testng.CucumberFeatureWrapper)[pri:0, instance:com.cucumber.framework.runner.AllModulesRunner@131276c2]">feature</td> 
  <td>main@936580213</td>   <td></td> </tr>
<tr bgcolor="7bafac">  <td>19/07/23 18:54:08</td>   <td>250009</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AbstractTestNGCucumberTests.tearDownClass()[pri:0, instance:com.cucumber.framework.runner.AllModulesRunner@131276c2]">&lt;&lt;tearDownClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@936580213</td>   <td></td> </tr>
>>>>>>> ca2a40c407feb616742971c5baf2a27ca8786ef2
>>>>>>> ecef320e77be6cfb9665d466fb7887b54ea85c19
</table>
